body {
  background: rgb(106, 30, 122);
  background: linear-gradient(
    270deg,
    rgba(106, 30, 122, 0.5746673669467788) 0%,
    rgba(74, 217, 255, 0.5830707282913166) 100%
  );
}
.container {
  background: #ffffffed;
  padding: 50px;
  border-radius: 10px;
  width: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: fit-content !important;
}
.buttons {
  border: none;
  padding: 10px;
  background: #4300d4;
  color: #fff;
  border-radius: 5px;
  transition: ALL 0.4;
}

.buttons:hover {
  background: #3300a0;
}

.answerGood,
.answerWrong {
  height: 20vh;
  width: 20vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0 10px 0 10px;
  transition: all 0.3s;
}

.answerGood {
  background-image: url("./Media/tick.png") !important;
  background-origin: center;
  background: #acffa4;
  background-size: contain;
}
.answerWrong {
  background-image: url("Media/icone-fermer-et-x-noir.png") !important;
  background-origin: center;
  background: #ffa4a4;
  background-size: contain;
}
.display {
  margin-bottom: -10vh !important;
}
.isWrong {
  background-color: red !important;
}
.isGood {
  background-color: #15ff00 !important;
}
.kep {
  width: 40vh;
  height: 40vh;
  border: 1px solid black;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.abc {
  background: rgba(240, 46, 169, 0.799);
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.abc-2 {
  background: rgba(240, 46, 169, 0.799);
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
